@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --dark-green: rgb(64, 128, 107);
  --light-green: #a3f4ca;
}

body {
  background-color: var(--light-green);
  color: var(--dark-green);
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-weight: lighter;
}

#hello-span {
  color: rgb(82, 48, 7);
  font-weight: bold;
}

.btn {
  background-color: var(--dark-green);
  color: var(--light-green);
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: rgb(82, 48, 7) solid 4px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin-top: 30px;
}

.btn:hover {
  outline: none;
  color: rgb(82, 48, 7);
}

.btn:active {
  color: var(--light-green);
  transition: all 0.1s ease-in;
  transform: scale(0.96);
}

#toasts {
  position: fixed;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hello {
  background-color: var(--light-green);
  /* color: var(--dark-green); */ /* commout to avail different styles */
  border: solid /* var(--dark-green)*/; /* var(--dark-green) */
  padding: 1rem;
  margin: 5px;
  border-radius: 7px;
  font-weight: bold;
}

/* list of colors (types) to randomise */

.hello.info {
  background-color: lightblue;
  color: teal;
  border-color: teal;
}
.hello.danger {
  background-color: rgb(255, 164, 164);
  color: rgb(128, 0, 0);
  border-color: rgb(128, 0, 0);
}
.hello.warning {
  background-color: rgb(225, 230, 173);
  color: rgb(128, 109, 0);
  border-color: rgb(128, 109, 0);
}
.hello.success {
  background-color: rgb(178, 173, 230);
  color: rgb(79, 0, 128);
  border-color: rgb(79, 0, 128);
}
.hello.nothingbox {
  background-color: rgb(223, 227, 228);
  color: rgb(104, 104, 104);
  border-color: rgb(104, 104, 104);
}
.hello.blue {
  background-color: rgb(173, 215, 230);
  color: rgb(0, 4, 128);
  border-color: rgb(0, 4, 128);
}
.hello.orange {
  background-color: rgb(230, 204, 173);
  color: rgb(128, 81, 0);
  border-color: rgb(128, 81, 0);
}
.hello.pink {
  background-color: rgb(227, 173, 230);
  color: rgb(128, 0, 124);
  border-color: rgb(128, 0, 124);
}
